@import url('./styles/button.css');
@import url('./styles/header.css');
@import url('./styles/task.css');
@import url('./styles/form.css');
@font-face {
  font-family: 'Tilt-Warp';
  src: url('./fonts/tilt_warp/TiltWarp-Regular-VariableFont_XROT,YROT.ttf') format('truetype');
}
@font-face {
  font-family: 'Spline-Sans';
  src: url('./fonts/Spline_sans/SplineSans-VariableFont_wght.ttf')
  format('truetype');
}

:root {
  --bg-color: #BDD0D0;
  --fg-color: #AFBDC0;
  --genre-color: #96BCC4;
  --genretext-color: #095970;
  --text-color: black;
  --light-text-color: #848484;
  --font-family: 'Arial, sans-serif';

  /* padding */

  --xs-padding: 0.25rem;
  --sm-padding: 0.5rem;
  --m-padding: 1rem;
  --l-padding: 1.5rem;
  --xl-padding: 2rem;


  /* margin */
  --xs-margin: 0.25rem;
  --sm-margin: 0.5rem;
  --m-margin: 1rem;
  --l-margin: 1.5rem;
  --xl-margin: 2rem;
  --xxl-margin: 3rem;
  --xxxl-margin: 4rem;

  /* font-weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* buttons */

  --todo-button-color: #4CAF50;
  --in-progress-button-color: #FF9800;
  --done-button-color: #007A95;
  --backlog-button-color: #2256ff;

  /* borderradious */
  --border-radius: 0.5rem;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;
}

#root {
  height: 100vh;
}

body {
  background-color: var(--bg-color);
  position: relative;
}



h1, h2, h3, h4, h5, h6, p {
  font-family: 'Tilt-Warp';
  color: var(--text-color);
}



.highlight {
  color: var(--genretext-color);
  font-weight: bold;
}

.task-card__button {
  background-color: var(--genre-color);
  border: none;

  
}

