.btn {
  border-radius: 1.5625rem;
  padding: var(--sm-padding) var(--l-padding);
  border: none;
  cursor: pointer;
}

.btn-grey {
    background-color: var(--fg-color);
}

.btn-todo {
    background-color: var(--todo-button-color);
}

.btn-in-progress {
    background-color: var(--in-progress-button-color);
}

.btn-done {
    background-color: var(--done-button-color);
}

.btn-todo, .btn-in-progress, .btn-done {
    color: var(--fg-color);
    width: max-content;
    display: flex;
    justify-self: center;
}

.btn-backlog {
    background-color: var(--backlog-button-color);
    color: white !important;
    border-radius: var(--border-radius);
    padding: var(--m-padding) var(--l-padding);
}

.active {
    background-color: antiquewhite;
    box-shadow: inset;
}

.icon {
    width: 3rem;
    cursor: pointer;
    align-items: center;
    margin-top: auto;
    padding: 0;
}