.task-form-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: var(--xl-padding);
    width: 30%;
    height: 60%;



}

.task-form__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--sm-padding);


    .task-form__input {
        padding: var(--sm-padding);
        border: 1px solid var(--light-text-color);
        border-radius: var(--border-radius);
    }
}

.form-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: var(--m-padding);
}