.task-form-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--xl-padding);
  border-radius: var(--border-radius);
  width: 30%;
  height: 60%;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: var(--sm-margin);
}

.task-form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--sm-padding);
}

.task-form__input {
  padding: var(--sm-padding);
  border: 1px solid var(--light-text-color);
  border-radius: var(--border-radius);
  width: 45%;
}

.form-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: var(--m-padding);
}
